*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Source+Code+Pro:wght@200&display=swap');

html{
    font-size:  62.5%;
    /* 1 rem  =10px */
}

:root{

    --primary-color: #000839;
    --primary-shades:#00020b;
    --para-color:#80849c;
    --helper-color:#1264fa;
    --white:#fff;

}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: inline-block;
    width: 100%;
}

li{
    list-style-type: none;

}

h1{
    color: var(--primary-color);
}

.para{
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

/* Header navbar style */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2em;
    font-size: 1.5rem;
}

.navlist .navbar_link :hover ,
.navlist .navbar_link :active{
 color: var(--helper-color);   

}

.navbar_link{
    text-transform: uppercase ;
}

.mobile_nav_icon{
    font-size: 5rem;

}

.mobile_nav_icon[name="close"]{
    display:none ;

}

.section{
    padding: 9.6rem 0;
}

.grid{
    display: grid;
    gap: 9.6rem;

    grid-template-columns: repeat(2,1fr);
}